.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #264141 ;
}

/* Ajusta el contenido principal */



.dropdown-item:hover {
  background-color: rgb(38, 43, 48); /* Color de fondo al pasar el mouse */
  color: white; /* Cambia el color del texto si es necesario */
}

.nav-link:hover{
  background-color: rgb(38, 43, 48);
}

.nav-link.active {
  color: darkslategrey; /* Color cuando está activa */
  background-color: rgb(38, 43, 48); /* Fondo opcional para la pestaña activa */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: rgb(20, 23, 26);
}